* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background-color: rgb(125, 160, 148);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 50%;
  min-height: 300px;
  padding: 30px;
  margin: 80px auto;
  background: white;
  border-radius: 10px;
  color: black;
  border: solid 2px #333;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.akan-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.akan-form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.akan-form label {
  margin-bottom: 5px;
  font-size: 14px;
}

input,
select,
button {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  colour: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #45a049;
  color: white;
}
